body {
    text-align: center;
    background-color: black;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.download-link {
    font-size: 16px;
    color: aquamarine;
}

.download-link:hover {
    cursor: pointer;
    color: orangered;
}